<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="img/fav-icon.png" type="image/x-icon" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Machine Learning Group 1</title>

    <!-- Icon css link -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Rev slider css -->
    <link href="vendors/revolution/css/settings.css" rel="stylesheet">
    <link href="vendors/revolution/css/layers.css" rel="stylesheet">
    <link href="vendors/revolution/css/navigation.css" rel="stylesheet">

    <!-- Extra plugin css -->
    <link href="vendors/owl-carousel/owl.carousel.min.css" rel="stylesheet">
    <link href="vendors/magnify-popup/magnific-popup.css" rel="stylesheet">


    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">

    <!--D3-->
    <script src="{{url_for('static', filename='js/d3.min.js')}}"></script>

    <!--Plotly-->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!--JQuery-->
    <script src="{{url_for('static', filename='js/jquery-3.2.1.min.js')}}"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

<body>
    <!--================Header Menu Area =================-->
    <header class="main_menu_area">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"><img src="img/logo.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="get-started">Get Started</a></li>
                    <li class="nav-item active"><a class="nav-link" href="machinelearning">Machine Learning</a></li>
                    <li class="nav-item"><a class="nav-link" href="comparison">Comparison</a></li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Blog
                        </a>
                        <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="nav-item"><a class="nav-link" href="blog">Blog</a></li>
                            <li class="nav-item"><a class="nav-link" href="single-blog">Blog Details</a></li>
                            <li class="nav-item"><a class="nav-link" href="elements">Elements</a></li>
                        </ul> -->
                    </li>
                    <li class="nav-item"><a class="nav-link" href="contact">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <!--================End Header Menu Area =================-->



    <!--================Banner Area =================-->
    <section class="banner_area">
        <div class="container">
            <div class="banner_inner_text">
                <h2>Machine Learning</h2>
                <p></p>
            </div>
        </div>
    </section>
    <!--================End Banner Area =================-->

    <!--================ Video Area =================-->
    <!--================The Machine Learning Area =================-->
    <section class="best_3d_area">
        <div class="left_3d">
            <div class="shap_slider_inner owl-carousel">
                <div class="item">
                    <h2>What is a Hidden Layer?</h2>
                    <p>Hidden Layers are: </p>
                    <div class="media">
                        <img src="img/team/people/people-5.jpg" alt="">
                        <div class="media-body">
                            <h5># of Hidden Layers:</h5>
                            <h6>4</h6>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <h2>What are Epochs?</h2>
                    <p>Epochs are: </p>
                    <div class="media">
                        <img src="img/team/people/people-5.jpg" alt="">
                        <div class="media-body">
                            <h5># Epochs used: </h5>
                            <h6>1000</h6>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <h2>What is the Learning Rate?</h2>
                    <p>Learning Rate is: </p>
                    <div class="media">
                        <img src="img/team/people/people-5.jpg" alt="">
                        <div class="media-body">
                            <h5>Our Learning Rate: </h5>
                            <h6>.003</h6>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <h2>What is a neuron?</h2>
                    <p>A Neuron is: </p>
                    <div class="media">
                        <img src="img/team/people/people-5.jpg" alt="">
                        <div class="media-body">
                            <h5># of Neurons used: </h5>
                            <h6>between 32 and 256</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right_text">
            <div class="right_text_inner">
                <div class="text_3d">
                    <div class="l_title">
                        <img src="img/icon/title-icon.png" alt="">
                        <h6>Our Algorithm</h6>
                        <h2>Adjusted Closing Price</h2>
                    </div>
                    <p>Our Neural Network utilizes the Random Forest Algorithm to predict next period prices.</p>
                </div>
                <div class="shap_mobile">
                    <img src="img/iphone4.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <!--================End The best slider Area =================-->
    <section class="video_area">
        <div class="c_video">
            <a class="popup-youtube" href="https://www.youtube.com/watch?v=62QYQE6k7tg"><img src="img/icon/video-icon.png"
                    alt=""> How does our Machine Learning Work </a>
        </div>
    </section>
    <!--================ End Video Area =================-->


    <!--================ DIS Chart Area =================-->
    <section class="DIS-result-charts">
        <div id="DIS_results">
            <script src="{{url_for('static', filename='js/js_group/machine_learning.js')}}"></script>
        </div>
    </section>
    <!--================ End DIS Chart Area =================-->



    <!--================ Build your Network Area =================-->
    <section class="banner_area">
        <div class="container">
            <div class="banner_inner_text">
                <h2>Build your Neural Network</h2>
                <p>Finding the Optimal Learning Rate and Epoch</p>
            </div>
        </div>
    </section>
    <!--================End Build your Network Area =================-->



    <!--================ Custom Chart Area =================-->
    <div class="container-fluid">
        <div class="row">
            <!--================Dropdown Area =================-->
            <div class="col-lg-2">
                <div class="row">
                    <div class="container">
                        <p>Epoch:</p>
                        <select name="location" class="app-select form-control" id="epoch_dropdown" required>
                            <option data-display="Choose locations">Epoch</option>
                            <option value="10">10</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        <p>Learning Rate:</p>
                        <select name="property-type" class="app-select form-control" id="learnrate_dropdown" required>
                            <option data-display="Property Type">Learning Rate</option>
                            <option value="0.001">0.001</option>
                            <option value="0.002">0.002</option>
                            <option value="0.003">0.003</option>
                        </select>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        <p>Stock Ticker:</p>
                        <select name="property-type" class="app-select form-control" id="stock_dropdown" required>
                            <option data-display="Property Type">Company</option>
                            <option value="AAPL">APPL</option>
                            <option value="CMG">CMG</option>
                            <option value="DIS">DIS</option>
                        </select>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        <button class="primary-btn" id="ml_button">RUN<span class="lnr"></span></button>
                        <script src="{{url_for('static', filename='js/js_group/ml_button.js')}}"></script>
                    </div>
                </div>
            </div>
            <!--================End Dropdown Area =================-->



            <!--================ Chart Area =================-->
            <div class="col-lg-10">
                <div class="container">
                    <div class="row">
                        <div id="ml_manip"></div>
                    </div>
                </div>
            </div>
            <!--================ End Chart Area =================-->
        </div>
    </div>
    <!--================ End Custom Chart Area =================-->


    <!--================End Banner Area =================-->
    <section class="service_feature">
        <div class="container">
            <div class="row feature_inner">
                <div class="col-lg-4 col-sm-6">
                    <div class="feature_item">
                        <div class="f_icon">
                            <img src="img/icon/f-icon-1.png" alt="">
                        </div>
                        <h4>Brand Identity</h4>
                        <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus
                            blandit. Etiam nec odio vestibul. </p>
                        <a class="more_btn" href="#">Read More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="feature_item">
                        <div class="f_icon">
                            <img src="img/icon/f-icon-2.png" alt="">
                        </div>
                        <h4>Online Marketing</h4>
                        <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus
                            blandit. Etiam nec odio vestibul. </p>
                        <a class="more_btn" href="#">Read More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="feature_item">
                        <div class="f_icon">
                            <img src="img/icon/f-icon-3.png" alt="">
                        </div>
                        <h4>Social Media</h4>
                        <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus
                            blandit. Etiam nec odio vestibul. </p>
                        <a class="more_btn" href="#">Read More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="feature_item">
                        <div class="f_icon">
                            <img src="img/icon/f-icon-4.png" alt="">
                        </div>
                        <h4>Video Support</h4>
                        <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus
                            blandit. Etiam nec odio vestibul. </p>
                        <a class="more_btn" href="#">Read More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="feature_item">
                        <div class="f_icon">
                            <img src="img/icon/f-icon-5.png" alt="">
                        </div>
                        <h4>Fast Support</h4>
                        <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus
                            blandit. Etiam nec odio vestibul. </p>
                        <a class="more_btn" href="#">Read More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="feature_item">
                        <div class="f_icon">
                            <img src="img/icon/f-icon-6.png" alt="">
                        </div>
                        <h4>Download test</h4>
                        <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus
                            blandit. Etiam nec odio vestibul. </p>
                        <a class="more_btn" href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Banner Area =================-->






    <!--================Service Solution Area =================-->
    <section class="service_solution_area p_100">
        <div class="container">
            <div class="row s_solution_inner">
                <div class="col-lg-6">
                    <div class="s_solution_item">
                        <div class="l_title">
                            <img src="img/icon/title-icon.png" alt="">
                            <h6>Discover the features</h6>
                            <h2>Simple solutions for complicated times</h2>
                        </div>
                        <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus
                            blandit. Etiam nec odio vestibul.Cras ex mauris, ornare eget pretium sit amet, dignissim et
                            turpis. Nunc nec maximus dui, vel suscipit dolor. Donec elementum velit a orci facilisis
                            rutrum. Nam convallis vel erat id dictum. Sed ut risus in orci convallis viverra a eget
                            nisi. Aenean pellentesque elit vitae eros dignissim ultrices. </p>
                        <div id="accordion" role="tablist" class="solution_collaps">
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne">
                                    <h5 class="mb-0">
                                        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">
                                            Cras ex mauris, ornare eget pretium sit amet, dignissim et turpis
                                            <i class="minus">-</i>
                                            <i class="plus">+</i>
                                        </a>
                                    </h5>
                                </div>

                                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am
                                            et tellus blandit. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingTwo">
                                    <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false"
                                            aria-controls="collapseTwo">
                                            Sed dapibus nunc vulputate mi fringilla, eu consequat
                                            <i class="minus">-</i>
                                            <i class="plus">+</i>
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am
                                            et tellus blandit. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingThree">
                                    <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">
                                            Curabitur eu libero sed erat viverra gravida at id ex
                                            <i class="minus">-</i>
                                            <i class="plus">+</i>
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am
                                            et tellus blandit. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Service Solution Area =================-->

    <!--================Footer Area =================-->
    <footer class="footr_area">
        <div class="footer_widget_area">
            <div class="container">
                <div class="row footer_widget_inner">
                    <div class="col-lg-4 col-sm-6">
                        <aside class="f_widget f_about_widget">
                            <img src="img/footer-logo.png" alt="">
                            <p>Cras ex mauris, ornare eget pretium sit amet, dignissim et turpis. Nunc nec maximus dui,
                                vel suscipit dolor. Donec elementum velit a orci facilisis rutrum.</p>
                        </aside>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <aside class="f_widget f_insta_widget">
                            <div class="f_title">
                                <h3>Instagram</h3>
                            </div>
                            <ul>
                                <li><a href="#"><img src="img/instagram/ins-1.jpg" alt=""></a></li>
                                <li><a href="#"><img src="img/instagram/ins-2.jpg" alt=""></a></li>
                                <li><a href="#"><img src="img/instagram/ins-3.jpg" alt=""></a></li>
                                <li><a href="#"><img src="img/instagram/ins-4.jpg" alt=""></a></li>
                                <li><a href="#"><img src="img/instagram/ins-5.jpg" alt=""></a></li>
                                <li><a href="#"><img src="img/instagram/ins-6.jpg" alt=""></a></li>
                                <li><a href="#"><img src="img/instagram/ins-7.jpg" alt=""></a></li>
                                <li><a href="#"><img src="img/instagram/ins-8.jpg" alt=""></a></li>
                            </ul>
                        </aside>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <aside class="f_widget f_subs_widget">
                            <div class="f_title">
                                <h3>Subscribe to newsletter</h3>
                            </div>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Your e-mail address here"
                                    aria-label="Your e-mail address here">
                                <span class="input-group-btn">
                                    <button class="btn btn-secondary submit_btn" type="button">Subscribe</button>
                                </span>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_copyright">
            <div class="container">
                <div class="float-sm-left">
                    <h5>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>
                            document.write(new Date().getFullYear());
                        </script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i>
                        by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </h5>
                </div>
                <div class="float-sm-right">
                    <ul>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--================End Footer Area =================-->




    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- Rev slider js -->
    <script src="vendors/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="vendors/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="vendors/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="vendors/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script src="vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="vendors/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <!-- Extra plugin css -->
    <script src="vendors/counterup/jquery.waypoints.min.js"></script>
    <script src="vendors/counterup/jquery.counterup.min.js"></script>
    <script src="vendors/counterup/apear.js"></script>
    <script src="vendors/counterup/countto.js"></script>
    <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="vendors/magnify-popup/jquery.magnific-popup.min.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="vendors/circle-bar/circle-progress.min.js"></script>
    <script src="vendors/circle-bar/plugins.js"></script>

    <script src="js/circle-active.js"></script>
    <script src="js/theme.js"></script>
</body>

</html>