<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mb-3">Ideal Trading </h4>
                        <p>find js/js_group/ideal_trading.js file, some chart supposed to show here, need some
                            debugging</p>
                        <canvas>
                            <div id="ideal-chart">

                            </div>
                        </canvas>


                    </div>
                </div>
            </div><!-- /# column -->

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mb-3">Random Buy/Sell </h4>
                        <canvas id="random-chart"></canvas>
                    </div>
                </div>
            </div><!-- /# column -->

            <br>

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mb-3">Machine Learning </h4>
                        <canvas id="ml-hart"></canvas>
                    </div>
                </div>
            </div><!-- /# column -->


            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mb-3">Buy and Hold S&P 500 </h4>
                        <canvas id="snp500-Chart"></canvas>
                    </div>
                </div>


            </div><!-- /# column -->
        </div>
    </div>
</div>